.button {  
    -fx-font : 14px "serief" ;  
    -fx-padding : 10;  
    -fx-text-fill : white;
    -fx-background-color : blueviolet;  
    -fx-border-color:white;
    -fx-border-width: 0;
    -fx-border-radius: 10;
    -fx-background-color: #2969c0;
    -fx-background-radius: 10px;
   
}   

.button:hover {
    -fx-background-color: blue;
/*
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
*/
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.device-background {
    -fx-background-color : white;
}

.title-background {
    -fx-background-color : blueviolet;
}

.confiture-button {
    -fx-background-image: url("../asset/ConfigureIcon.png");
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.delete-button {
    -fx-background-image: url("../asset/DeleteIcon.png");
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.text-field {
     -fx-background-color:  #2969c0, white;
    -fx-background-insets: 0 0 -2 0, 0 0 0 0;
    -fx-background-radius: 0;
}

.text-field:focused {
     -fx-background-color:  black, white;
    -fx-background-insets: 0 0 -2 0, 0 0 0 0;
    -fx-background-radius: 0;
}