<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="search-blog content">
                <label for="name">Enter Full Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="nic">Enter NIC:</label>
                <input type="text" id="nic" name="nic" required>
                <button>Search</button>
            </div>
            <br><br>
            <div class="about content">
                <h2>OOPS :(</h2>
                <h2>This page is under construction...</h2>
                <p>Can search the user travel details in the station if want</p>
                <p>This displays the travel details for the railway department</p>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>