html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    
}


#home {
    background: url(img/intro1.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    /*filter: opacity(0.5);*/
}


.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}

.padding {
    padding: 80px 0;
}

.padding img {
    width: 100%;
}

.fixed {
    background: url(img/back.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.fixed1 {
    background: url(img/back1.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

footer {
    width: 100%;
    background-color: #23415c;
    padding: 5% 5% 10% 5%;
    color: #fff;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.fa:hover {
    color: #000000;
    text-decoration: none;
}

@media (max-width: 768px) {
    .landing-text h1 {
        font-size: 300%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;
    }
}

.fas {
    padding: 15px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.fas:hover {
    color: #000000;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


@media (max-width: 768px) {
    .landing-text h1 {
        font-size: 300%;
    }
    .fas {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;
    }
}

.carousel-control-next,
.carousel-control-prev, .carousel-indicators /*, .carousel-indicators */ {
    filter: invert(100%);
}